# Library Tests

In [1]:
import yfinance as yf

from mplchart import library

In [2]:
ticker = "AAPL"
prices = yf.Ticker(ticker).history(period="5y")
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2019-06-06 00:00:00-04:00,44.172501,44.749146,43.948114,44.688828,90105200,0.0,0.0
2019-06-07 00:00:00-04:00,45.000069,46.305364,44.821528,45.878307,122737600,0.0,0.0
2019-06-10 00:00:00-04:00,46.278821,47.137757,46.232978,46.464603,104883600,0.0,0.0
2019-06-11 00:00:00-04:00,47.014719,47.289772,46.710715,47.002655,107731600,0.0,0.0
2019-06-12 00:00:00-04:00,46.795143,47.282518,46.660030,46.853050,73012800,0.0,0.0
...,...,...,...,...,...,...,...
2024-05-30 00:00:00-04:00,190.759995,192.179993,190.630005,191.289993,49947900,0.0,0.0
2024-05-31 00:00:00-04:00,191.440002,192.570007,189.910004,192.250000,75158300,0.0,0.0
2024-06-03 00:00:00-04:00,192.899994,194.990005,192.520004,194.029999,50080500,0.0,0.0
2024-06-04 00:00:00-04:00,194.639999,195.320007,193.029999,194.350006,47471400,0.0,0.0
2024-06-05 00:00:00-04:00,195.419998,196.899994,194.880005,195.869995,53018496,0.0,0.0

In [3]:
library.calc_adx(prices)

                                 adx        pdi        mdi
date
2019-06-06 00:00:00-04:00        NaN        NaN        NaN
2019-06-07 00:00:00-04:00        NaN        NaN        NaN
2019-06-10 00:00:00-04:00        NaN        NaN        NaN
2019-06-11 00:00:00-04:00        NaN        NaN        NaN
2019-06-12 00:00:00-04:00        NaN        NaN        NaN
...                              ...        ...        ...
2024-05-30 00:00:00-04:00  33.937200  30.975624  15.011917
2024-05-31 00:00:00-04:00  33.642990  29.110762  15.737724
2024-06-03 00:00:00-04:00  33.952474  32.817567  14.752477
2024-06-04 00:00:00-04:00  34.314206  31.835702  13.965554
2024-06-05 00:00:00-04:00  34.997020  33.646833  13.125934

[1259 rows x 3 columns]